[submodule "zkstats/onnx2circom/onnx2keras"]
	path = zkstats/onnx2circom/onnx2keras
	url = git@github.com:JernKunpittaya/onnx2keras.git
[submodule "zkstats/onnx2circom/keras2circom"]
	path = zkstats/onnx2circom/keras2circom
	url = git@github.com:JernKunpittaya/keras2circom.git
